/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

  
:root.theme-dark {
    --bg-color: url('../images/cover-image-dark.png');
    --accent-color: #ff0070;
    --text-size: 18px;
    --text-font-family: 'IBM Plex mono', monospace;
    --main-header-text-color: #DB00FF;
    --text-color: #000028;
    --main-text-color: #F1B2CE;
    --color-border: #FF007066;
    --color-button: #FF0070;
   --accent-color-decorated-zone: #FF0070;
}
.rec {
    display: block;
  }