/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: url('../images/cover-image-dark.png');
  --accent-color:  #ff0070;
  --text-size: 18px;
  --text-font-family: 'IBM Plex mono', monospace;
  --main-header-text-color: #DB00FF;
  --text-color: #000028;
  --main-text-color: #F1B2CE;
  --color-border: #FF007066;
  --color-button: #FF0070;
  --accent-color-decorated-zone: #FF0070;
  --question-text: #FF0070;
  --background-color: #000028;
}

